.portfolio__container {
    display: grid;
    /* grid-template-columns: repeat(2, 2fr); */
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */

padding-left: 110px;
}
.section__portfolio{
    display: grid;
    justify-content: center;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 2.4rem 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: 150px;
}


.portfolio__item:hover {
    border-color: var(--color--primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1rem 0 1rem;
}

.portfolio__item p {
    margin: 0.5rem 0;
}


/* ----- HERE WILL BE THE MEDIA QUERIED FOR MEDIUM SIZE DEVICES----- */

@media only screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ----- HERE WILL BE THE MEDIA QUERIED FOR SMALL SIZE DEVICES LIKE PHONES----- */

@media only screen and (max-width: 600px) {

    .portfolio__container{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
}