.about__container {
    display: grid;
    /* grid-template-columns: 35% 50%; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15%;
    justify-content: center;
    align-items: center;
}


/* aspect-ratio: 1/1;  means that the hight will always much the width */
.about__me {
    /* width: 100%; */
    width: clamp(300px, 75%, 600px);
    aspect-ratio: 1/1; 
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
    margin-left: 140px;
}


.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);

}

.about__me-image:hover {
    transform: rotate(0);
}


.about__content{
    color: var(--color-light);
}
.btn {
    margin-top: 1rem;
}



/* ----- HERE WILL BE THE MEDIA QUERIED FOR MEDIUM SIZE DEVICES----- */

@media only screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0%;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}


/* ----- HERE WILL BE THE MEDIA QUERIED FOR SMALL SIZE DEVICES LIKE PHONES----- */

@media only screen and (max-width: 600px) {

    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__content {
    text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}